@charset "utf-8";


/* #CultiLog {
    background-color: yellow;
} */
#CultiLog ul.label_style1 {
    list-style-type: none;
}
#CultiLog ul.label_style2 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
/* #CultiLog .label {
    background-color: pink;
} */
#CultiLog .name {
    font-size: larger;
    margin-bottom: 0.5em;
}
#CultiLog .date {
    margin-bottom: 0.5em;
    color: darkblue;
}
#CultiLog img {
    width: 75%;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
#CultiLog .popup-text {
    color: dimgray;
}
#CultiLog .popup-text::after {
    content: '';
    display: block;
    clear: both;
}
/*
@media (max-width: 700px) {
}
*/


/* モーダルポップアップ */

.popup-open {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #A0A0FF;
}

.popup-wrap {
  opacity: 0;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.popup-wrap.active {
  animation: modalOpen 0.3s ease forwards;
}

.popup-wrap.active2 {
  animation: modalClose 0.3s ease forwards;
}

.popup-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  max-width: 90%;
  background-color: white;
  border-radius: 6px;
  max-height: 450px;
  /* padding: 20px; */
  padding: 1em;
}

.popup-contents {
  overflow-y: scroll;
  max-height: 420px;
  font-size: 14px;
}

.popup-contents>*+* {
  margin-top: 0;
}

.popup-inner>.popup-close+* {
  margin-top: 0;
}

.popup-contents img {
  float: left;
  max-width: 460px;
  max-height: 230px;
  object-fit: contain;
  margin-right: 1em;
  border-radius: 5px;
}

ul.marker01 {
  list-style-type: none;
  font-size: 13px;
  margin-left: 0;
}

ul.marker01 li {
  margin-top: 0.3em;
}

ul.marker01 li:before {
  color: #9FCFFF;
  content: "●";
}

.popup-close {
  display: block;
  position: absolute;
  top: -30px;
  right: 10.5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1001;
}

.popup-close::before,
.popup-close::after {
  content: "";
  background-color: white;
  position: absolute;
  top: -5px;
  right: 10px;
  width: 2px;
  height: 30px;
}

.popup-close::before {
  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .popup-inner {
    max-height: 320px;
  }

  .popup-contents {
    max-height: 280px;
    font-size: 12px;
  }

  .popup-contents img {
    max-width: 192px;
    max-height: 96px;
    object-fit: contain;
  }

  .popup-contents iframe {
    width: 192px;
  }

  ul.marker01 {
    list-style-type: none;
    font-size: 12px;
    margin-left: 0;
  }
}
