@media print {
	div#UPDATE_PANEL{
		display: none;
	}
	div#UPDATE_PANEL2{
		display: none;
	}
}
main {
	padding: 10px;
}
h2 {
	padding:4px 10px;
	background-color:thistle;	
}
fieldset {
	padding: 0 10px 3px 10px;
	border: dashed 1px darkcyan;
	color: darkslategray;
}
textarea#CONTENTS_TEXT {
	margin-top: 10px;
	width: calc(100% - 15px);
	height: 210px;
	background-color: aliceblue;
	padding: 6px;
}
textarea#CONTENTS_TEXT2 {
	margin-top: 10px;
	width: calc(100% - 15px);
	height: 210px;
	background-color: aliceblue;
	padding: 6px;
}
button {
	margin-right: 15px;
	padding: 2px 6px;
	font-size: 11pt;
}
.CONTROL button {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 4px 8px;
	font-size: 11pt;
}
p .TEXTBOX{
	box-sizing: border-box;	
	margin: 0;
	padding: 20px;
}
.VALUES{
	border-collapse: collapse;
	
}
.VALUES th,td{
	border: 1px solid darkgray;
	padding: 3px 5px;
	font-size: smaller;
}
.VALUES td:nth-of-type(2){
	text-align:right;
}
img.rogofig {
	width: 600px;
}
.color1 {
	color: blue;
}
.color2 {
	color: magenta;
}
#UPDATE_PANEL{
	float:right;
	max-width: 50%;
}
#UPDATE_PANEL2{
	float:right;
	max-width: 50%;
}
@media (max-width: 670px) {
	.scroll img {
		width: 800px;
	}
	img.rogofig {
		max-width: 90%;
	}
}

