@charset "utf-8";
@page {
	margin: 10px;
	size: A4 portrait;
}
@media print {
	ul.breadcrumb{
		display: none;
	}
	footer{
		display: none;
	}
	img {
		max-width: 100%;
	}
	.scroll {
		scrollbar-width: none;
	}
	main {
		font-size: 9pt;
	}
}
main {
	color: #2a2c2f;
	background-color: #f8f8f8;
}
.center {
	text-align: center;
}
footer {
	padding: 7px 17px;	/* 7px 25px*/
	margin-left: auto;	/* 左右autoで中央表示 */
	margin-right: auto;	/* 左右autoで中央表示 */
	height: 32px;
	background-color: #cfcac4;
	color: #383838;
}
footer img {
	margin: 1px 12px;
}
.footer-left {
	width: auto;
	float: left;
}
.footer-center {
	float: left;
	margin-left: 30px;
}
.footer-center a {
	float: left;
	margin-left: 20px;
	padding-top: 7px;
	color: #5a5c5f;
	text-decoration: none;
}
.footer-right {
	float: right;
	padding-top: 9px;
}
.footer-right a {
	text-decoration: none;
}
ul {
	padding-left: 30px;
}
ul ul{
	padding-left: 25px;
}
dl dd {
	margin-left: 20px;
}
.scroll {
	width: 100%;
	overflow-x: scroll;
}
.img750 {
	width: 750px;
}
.img1000 {
	width: 1000px;
}
/*
*/
.indent {
	margin-left: 20px;
	max-width: 90%;
}
.sidenote {
	display: inline-block;
	font-size: smaller;
	/* color: tomato; */
	margin-left: 20px;
}
b {
	color: Tomato;
}
blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 10px;

}
.breadcrumb {
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;	
	align-items:center;
	font-size: 14px;
	color: #5a5c5f;
}
.breadcrumb li:not(:last-of-type)::after {
	content: "›";
	margin: 0 .4em;
	color: #777;
	font-weight: bold;
}
img.icon {
	margin:0;
	border-radius: 0;
}
@media (max-width: 670px) {
	header img {
		display: none;
	}
	header nav {
		float: none;
		text-align: center;
	}
	header nav a {
		font-size: 14px;
	}
	main {
		/* 上、左右、下 */
		padding: 53px 10px 8px;
		font-size: 14px;
	}
	/*
	.scroll img {
		width: 800px;
	}
	*/
	main .title {
		font-size: 18px;
	}
	h2 {
		font-size: 15px;
	}
	h3 {
		font-size: 12px;
	}
	ul {
		padding-left: 20px;
	}
	ul ul{
		padding-left: 20px;
	}
	dl dd {
		margin-left: 15px;
	}
    .text {
        margin-left: 11px;
		/*
		font-size: 14px;
		color: red;
		*/
    }
	footer {
		padding: 3px 6px;
		height: 55px;
	}
	footer img {
		margin-top: 10px;
	}
	.footer-center a {
		font-size: 14px;
	}
	.footer-right {
		font-size: 14px;
		padding-top: 2px;
	}
	.breadcrumb {
		font-size: 12px;
	}	
}
