@media print {
	div#UPDATE_PANEL, div#UPDATE_PANEL2{
		display: none;
	}
}
main {
	padding: 10px;
}
h2 {
	padding:4px 10px;
	background-color:thistle;	
}
fieldset {
	padding: 0 10px 3px 10px;
	border: dashed 1px darkcyan;
	color: darkslategray;
}
textarea#CONTENTS_TEXT, textarea#CONTENTS_TEXT2 {
	margin-top: 10px;
	width: calc(100% - 15px);
	height: 210px;
	background-color: aliceblue;
	padding: 6px;
}
textarea#DEFAULT_LIVING_COST {
	display: none;
}
button, input {
	margin-right: 15px;
	padding: 2px 6px;
	font-size: 11pt;
}
.CONTROL button {
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 4px 8px;
	font-size: 11pt;
}
.VALUES, #LIVING_TABLE{
	border-collapse: collapse;	
}
.VALUES th,td{
	border: 1px solid darkgray;
	padding: 1px 5px;
	font-size: smaller;
}
#LIVING_TABLE th,td{
	border: 1px solid darkgray;
	padding: 1px 5px;
	font-size: smaller;
}
.VALUES, #LIVING_TABLE td{
	text-align:right;
}
th {
	text-align:left;
}
#LIVING_TABLE td:nth-of-type(12){
	text-align:left;
}
img.w600m100p {
	width: 600px;
}
#IMG1 {
	border: 1px solid darkgray;
	/*
	width: 640px;
	*/
	max-width: calc(100%-10px);
}
.color1 {
	color: blue;
}
.color2 {
	color: magenta;
}
.color3 {
	color: DodgerBlue;
}
.color4 {
	color: Orange;
}
#ZEIKIN_TABLE, #ZEIKIN_TABLE2 {
	margin-left:10px;
	max-width: calc(100% - 25px);
	overflow:auto;
	height: 180px;
}
#LIVING_TABLE_DIV {
	margin-left:10px;
	/*
	max-width: calc(100% - 25px);
	overflow:auto;
	height: 280px;
	*/
}

.DATA_TABLE {
	border-collapse: collapse;	
}
.DATA_TABLE th, td{
	border: 1px solid darkgray;
	padding: 1px 5px;
	white-space: nowrap
}

#JUMYO, #ZANDAKA, #YOKIN {
	margin: 0.2em 0.4em;
	text-align: right;
	font-size: 13pt;
}
#YOKIN {
	width: 120px;
	background: #fdd;
	padding-right: 0px;
}
#YOKIN_YEAR {
	margin: 0.2em 0.4em;
	font-size: 13pt;
	width: 60px;
	background: #fdd;
	padding-right: 0px;
}
#JUMYO {
	width: 45px;
}
#ZANDAKA {
	width: 100px;
	background: #fdd;
	padding-right: 20px;
}

@media (max-width: 670px) {
	.scroll img {
		width: 800px;
	}
	img.w600m100p {
		max-width: 100%;
	}
	#ZEIKIN_TABLE, #ZEIKIN_TABLE2, #LIVING_TABLE_DIV {
		margin-left: initial;
		max-width: initial;
	}
	/*
	.DATA_TABLE th, td{
		white-space: nowrap
	}
	*/
	.HSCROLL {
		overflow-x: auto;
		display: block;
	}
}

